@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom */
html, body, #root {
  height: 100%;
}
body {
  font-family: "Libertinus Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.nameHero {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
}